# AI Configuration
AI_API_KEY=
AI_MODEL=

# Application Settings
APP_NAME=AI-ChatBot
APP_VERSION=1.0.0
RUN_MODE=development
DEBUG=false

# Server Configuration
HOST=0.0.0.0
PORT=8000

# CORS Configuration
ALLOWED_ORIGINS=https://localhost:3000,https://seu-dominio.com

# Logging
LOG_LEVEL=INFO

# Dados
DATA_PATH=./data
